.vb-wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 1.2rem 1fr;
  gap: 0.5rem;
  padding: 0.8rem;
  box-sizing: border-box;
}
.vb-wrapper .vb-toolbar-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.vb-wrapper .vb-toolbar-wrapper > * {
  margin-right: 1rem;
}
.vb-wrapper .vb-charts-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
}
.vb-wrapper .vb-chart-card {
  display: grid;
  grid-template-rows: 2rem 1fr;
  min-width: 0;
  min-height: 300px;
}
.vb-wrapper .vb-chart-viz svg {
  display: block !important;
  max-width: 100%;
  max-height: 100%;
}

.vb-props-wrapper {
  overflow: auto;
}

.vb-wrapper.debugger {
  grid-template-columns: 4fr minmax(400px, 1fr);
}
.vb-wrapper.debugger .vb-toolbar-wrapper {
  grid-column: span 2;
}

