{
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 3,
      "helpers": true,
      "regenerator": true,
      "version": "^7.12.1"
    }],
    ["@babel/plugin-proposal-class-properties", {}]
  ],
  "presets": [
    ["@babel/preset-env", {
      "targets": "defaults",
      "useBuiltIns": false
    }],
    ["@babel/preset-react", {}]
  ]
}
