name: Create new Github Release and publish to NPM

on:
  push:
    tags:
      - v*

permissions:
  id-token: write
  contents: write

jobs:
  release:
    name: "New Release from version Tag"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      - run: npm run build

      - run: npm pack

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "*.tgz"
          generateReleaseNotes: true
          token: ${{ secrets.GITHUB_TOKEN }}

      - run: npm publish
